include README.rst
include LICENSE
include *.py
recursive-include django_mailchimp_amp/templates *.html
recursive-include django_mailchimp_amp/templates *.css

exclude tox.ini
exclude .travis.yml
exclude .pylintrc
exclude .coverage
